[workspace]
resolver = "2"
members = ["kernel"]
exclude = ["arceos"]

[workspace.package]
version = "0.1.0"
edition = "2024"
license = "Apache-2.0"

authors = [
    "Azure-stars <Azure_stars@126.com>",
    "Yuekai Jia <equation618@gmail.com>",
    "KylinSoft Co., Ltd. <https://www.kylinos.cn/>",
    "朝倉水希 <asakuramizu111@gmail.com>",
    "Mivik <mivikq@gmail.com>",
]
homepage = "https://github.com/Starry-OS"
repository = "https://github.com/Starry-OS/StarryOS"

[workspace.dependencies]
axfeat = { path = "arceos/api/axfeat", features = [
    "alloc-slab",
    "fp-simd",
    "fs-ext4",
    "irq",
    "multitask",
    "net",
    "page-alloc-4g",
    "rtc",
    "sched-rr",
    "task-ext",
    "uspace",
] }

axalloc = { path = "arceos/modules/axalloc" }
axconfig = { path = "arceos/modules/axconfig" }
axdisplay = { path = "arceos/modules/axdisplay" }
axdriver = { path = "arceos/modules/axdriver" }
axfs = { path = "arceos/modules/axfs" }
axhal = { path = "arceos/modules/axhal" }
axinput = { path = "arceos/modules/axinput" }
axlog = { path = "arceos/modules/axlog" }
axmm = { path = "arceos/modules/axmm" }
axnet = { path = "arceos/modules/axnet" }
axruntime = { path = "arceos/modules/axruntime" }
axsync = { path = "arceos/modules/axsync" }
axtask = { path = "arceos/modules/axtask" }

starry-kernel = { path = "kernel" }

[package]
name = "starryos"
version.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true
homepage.workspace = true
repository.workspace = true

[features]
default = []
qemu = [
    "axfeat/display",
    "axfeat/input",
    "starry-kernel/input",

    "axfeat/vsock",
    "starry-kernel/vsock",

    "axfeat/defplat",
    "axfeat/bus-pci",

    # auxilary features
    "axfeat/fs-times",
    "starry-kernel/dev-log",
]
smp = ["axfeat/smp", "axplat-riscv64-visionfive2?/smp"]

vf2 = ["dep:axplat-riscv64-visionfive2", "axfeat/driver-sdmmc"]

[dependencies]
axfeat.workspace = true
starry-kernel.workspace = true

[dependencies.axplat-riscv64-visionfive2]
version = "0.1.0-pre.1"
features = ["fp-simd", "irq", "rtc"]
optional = true

[package.metadata.vendor-filter]
platforms = ["riscv64gc-unknown-none-elf", "loongarch64-unknown-none-softfloat"]
all-features = true
